img{width: 1000px; height: 600px;}
.center { display: block; margin-left: auto; margin-right: auto; width: 50%; }

#school-church {width: 200px; height: 200px;}
#school-church {width: 200px; height: 200px;}
#school-church {width: 200px; height: 200px;}
